.table > tbody > tr > td:nth-child(n+2) {
    max-width: 260px;
    width: 260px;
    min-width: 260px;
    position: relative;
    left: 160px;
    z-index: 5;
}

.table > tbody > tr > td:last-child {
    float: left;
}

.table > tbody > tr > td > button {
    white-space: normal;
    text-align: left;
    float: left;
}

.button_narrow {
    width: 110px;
}

.button_wide {
    width: 250px;
}

.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    background-color: white;
}

.table > tbody > tr > td > div > button {
    width: 140px;
    padding-right: 10px;
}

.table > tbody > tr > td:nth-child(1), .table > tbody > tr > th:nth-child(1) {
    width: 155px;
    border-right: 2px solid black;
    height: 200px;
    z-index: 10;
}

.loading {
    text-align: center;
    vertical-align: center;
    font-size: 120px;
    color: #343434;
}

.selected {
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
}

