

body{
    background-color: rgb(50,220,50) !important;
    border-color: rgb(0, 0, 0) !important;
}

.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    background-color: rgb(50,190,50);
    border-color: rgb(0, 0, 0) !important;
}

.table > tbody > tr > td:nth-child(1), .table > tbody > tr > th:nth-child(1) {
    width: 155px;
    border-right: 2px solid black;
    height: 200px;
    z-index: 1;
}

.table > tbody > tr > td:nth-child(1) > div  {
    z-index: 2;
    position: relative;
    flex-direction: column;
}

.table > tbody > tr > td:nth-child(1) > div > div {
    z-index: 2;
    position: relative;
    flex-direction: column;
    top: -40px;
    margin-left: 145px;
}

.table > tbody > tr > td:nth-child(1) > div > div > ul {
    z-index: 2;
    position: relative;
    flex-direction: column;
}

.table > tbody > tr > td:nth-child(n+2) {
    max-width: 260px;
    width: 260px;
    min-width: 260px;
    position: relative;
    left: 160px;
    min-height: 60px;
    border-color: rgb(0, 0, 0) !important;
}

.table > tbody > tr > td:last-child {
    float: left;
}

.table > tbody > tr > td > button {
    white-space: normal;
    text-align: left;
}

.button_narrow {
    width: 110px;
}

.button_wide {
    width: 250px;
}

.table > tbody > tr > td > div > button {
    width: 140px;
    padding-right: 10px;
}

.loading {
    text-align: center;
    vertical-align: center;
    font-size: 120px;
    color: #343434;
}

.selected {
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
}

.buttonNormal {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 150, 0) !important;
    border-color: rgb(0, 0, 0) !important;
}
.buttonSelect {
    background-color: rgb(100,255,100) !important;
    border-color: rgb(0, 0, 0) !important;
}

.buttonDrop {
    background-color: rgb(50,190,50) !important;
    border-color: rgb(0, 0, 0) !important;
 }
.categoryDrop {
    background-color: rgb(50,190,50) !important;
    border-color: rgb(0, 0, 0) !important;
}

.navBar {
    background-color: rgb(50,190,50) !important;
    border-color: rgb(0, 0, 0) !important;
}
.pubBar {
    background-color: rgb(50,190,50) !important;
    border-color: rgb(0, 0, 0) !important;
}

